.carusel{
  background-color: black;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-content: center;
  justify-items: center;
  align-items: center;
  padding: 1rem 5rem 1rem 5rem;
  flex-wrap: wrap;
}

.logo{
  width:7rem;
  height: 7rem;
  margin:1rem 0.5rem;
 }

 