/*////////////////////////////////////////////FONDO*/
.cabecera{
    background-image: url(../images/fondoNaranja.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height:15em;
    padding-top:5em; 
    padding-bottom:20em;
}

.cabecera h1{
    font-size:13vmin;
    color:white;
    text-shadow: 2px 2px 4px #000000;
    font-family: "montserrat-bold", sans-serif;
    font-style: normal;
    text-rendering: optimizeLegibility;
}

.cabecera h2{
    font-size:4vmin;
    text-align:center;
    color:white;
    text-shadow: 1px 1px 2px #000000;
} 

/*///////////////////////////////TITULO Y SIBTITULO*/
#nombreLista{
    color:whitesmoke;
    padding-top:3%;
    font-size:4em;
}
#ultimaActualizacion{
    color:whitesmoke;
    font-size:2em;
}


#seccionLista{
    background-color: rgba(0, 0, 0, 0.823);
}

/*////////////////////////////////TABEL DATA*/

td, th{
    font-size:2.5vmin;
    font-family:Arial, Helvetica, sans-serif;


}



/*///////////////////////////////BARRA DE BUSQUEDA*/
.search{
    background-color: whitesmoke;
    border-radius:0.5em;
}


@media only screen and (max-width: 480px) {
    .columns.columns-right.btn-group.float-right{
      display:none;
    }

    .float-left.search.btn-group{
        width:100%;
    }
    .cabecera{
        padding-top:8em;
        padding-bottom:10em;
    }
    #seccionLista{
        padding-top:2Vmin;
    }
    td {
        font-size:4vmin;
        font-family:Arial, Helvetica, sans-serif;
    }
    .card-view-title{
        font-size:3.3vmin;
        display:none;
        width:10%;
        font-family:Arial, Helvetica, sans-serif;
    }

    
  }

