@font-face {
    font-family: "montserrat-regular";
    src: url("../fonts/montserrat/montserrat-regular-webfont.woff2") format("woff2"), url("../fonts/montserrat/montserrat-regular-webfont.woff") format("woff");
    font-style: normal;
    font-weight: normal;
  }


/*////////////////////////////////////////////FONDO*/
/*--------- CUSTOM LAYOUT ---------*/


body {
	width:100%;
	text-align: center;
	margin:0px;
	padding:0px;
}
  
.cabecera{
	background-color: #000000;
	background-size: 100%;
	height:15rem;
	margin:0px;
	padding:5vh;
	padding-bottom:10vh;
}
  
  
.cabecera h1{
	font-family: "librebaskerville-bold", serif;
	font-size: 4.8rem;
	color:white;
	text-shadow: 2px 2px 4px #000000;
	font-style: normal;
	text-rendering: optimizeLegibility;
}
  
.cabecera h2{
	font-size:4vmin;
	text-align:center;
	color:white;
	text-shadow: 1px 1px 2px #000000;
} 

/*///////////////////////////////TITULO Y SIBTITULO*/
.container-fluid #titulo{
    color:black;
    text-decoration:underline;
    font-family: "librebaskerville-bold", serif;
    margin-top:3vmin;
    font-size:8vmin;
    padding-top:10vmin;
    text-shadow: 2px 2px 4px rgb(83, 83, 83);
   
}
.container-fluid #subtitulo{
    color:rgb(251, 88, 13);
    font-size:rem;
    padding-bottom: 2vmin;
    text-align:center;
}

#seccionLista{
    background-color: black;
  
}

/*///////////////////////////////KITS y OFERTAS */
.titulo{
    background-color: black;
    padding-left: 0.5em;
    text-align: center;
    padding:0.4em;
    color:whitesmoke;
    font-size: 3.5vmin;


}

.precio{
  text-align: right;
  font-size:4em;  
  color:orangered;
  padding-top:0.25em;
  padding-bottom: 0.5em;
  padding-right: 0.5em;
}

.detalle{
   color:black;
   font-size:1.3rem;
   height:5em;  
   text-align:center;
}

.imagenKit{
    height:13rem;
  }

.imagenOferta{
    height:20rem;
}

.rectanguloOfertas{
   height:15%;
}

.ofertas {
    justify-content: left;
}

.kits {
    justify-content: left;;
}

.rectanguloOferta{
    -webkit-box-shadow: 6px 6px 7px -2px rgba(161,161,161,0.57);
    -moz-box-shadow: 6px 6px 7px -2px rgba(161,161,161,0.57);
    box-shadow: 6px 6px 7px -2px rgba(161,161,161,0.57);
    background-color: white;

}

/*/////////////////////////RESPONSIVE//*/
@media only screen and (max-width: 450px) {
    section .container-fluid{
    padding:0px;
    margin:0px;
    }

    .intro-wrap{
        padding:0px;
        margin:0px;
    }
    section{
        padding:0px;
        margin:0px;
    }

    .precio{
        font-size:3em;  
        text-align:center;
        padding-right: 0

    }
    .cabecera{
        padding-top:8em;
        padding-bottom:10em;
    }
    .cabecera h1{
        font-size:2.2rem;
    }

    .imagenKit{
        height:25vmin;
      }
    
    .imagenOferta{
        height:20vmin;
    }
    .detalle{
        font-size:1.2rem;
    }
    
  }


  img:hover{
    transition: .5s;
  transform: scale(1.1);
  z-index:10;
}