#WAButton {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 2.5s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: 0;
  }
  
  //*#WAButton:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0s;
  
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
  /*}*/
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
 
  }
  


/* ofertas */

.imagenOferta{
  width:100%;
  height:100%;
}

.rectanguloOfertas{
 height:15%;
}


/* FAQ*/
#myInputCodigo {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

/* manu acordeon */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 0.1em;
  width: 100%;
  height:100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  white-space: normal;}
.active, .accordion:hover {
  background-color: #ccc;}
.accordion:after {
  content: '\002B';
  font-weight: bold;
  float: right;
  margin-left: 0px;}
.active:after {
  content: "\2212";}
.panelfaq {
  margin-bottom:1.5em;
  padding: 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;}


  @media only screen and (max-width: 480px) {
    .accordion{
      font-size: 80%;
      display:block;
      width:100%;
      display: block;
      width: 100%;
      color: white;
      text-align: center;
      white-space: normal;
    }
  }