<!DOCTYPE html>
<html>
	<head>
		<title>Ofertas del Mes</title>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
		<link rel="stylesheet" type="text/css" href="../css/style.css">
    	<link rel="stylesheet" type="text/css" href="../css/main.css">
		<link rel="stylesheet" type="text/css" href="../css/baseBackend.css">
		<link rel="stylesheet" type="text/css" href="../css/ofertasData.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="../js/src/jquery.js"></script>
	</head>



<body>



<section>	
	<div id="seccionLista">	

	<div>
			<iframe id="iframe" src="https://docs.google.com/spreadsheets/d/19bfyrAnl_5VBxmkSJQ6PTnAa084MLl_f/edit?usp=sharing&
			rm=minimal&amp;
			range=A1:C3&amp;
			single=true&amp;
			headers=false&amp;
			widget=false&amp;
			chrome=false" 
			frameborder=0% 
			sytle="border:40px;height:100vh"
			width=100% 
		>
			</iframe>
		</div>
	</div>			
</section> 

<div id="infinite" ></div>




</body>
<script src="../js/src/plugins.js"></script>
<script src="../js/src/main.js"></script>
<script src="../js/ofertaDataService.js"></script>
</html>