RESPOSNABLE INSCRIPTO

Titular: FIORE GROSSO

BANCO GALICIA (sucursal paternal - nro 158)

Nro de cuenta: 602/2 158/5

CBU:0070158320000000602255

CUIT: 20-93461300-8

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>


  <ol>
    <li>Titular: FIORE GROSSO</li>
    <li>BANCO GALICIA (sucursal paternal - nro 158)</li>
    <li>RESPOSNABLE INSCRIPTO</li>
    <li>Nro de cuenta: 602/2 158/5</li>
    <li>CBU:0070158320000000602255</li>
    <li> 20-93461300-8</li>


  </ol>







</body>


</html>