<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="utf-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
  <title> Lista de precios </title> 
  <script src="../js/src/jquery.js"></script>
  <script src="../js/src/helpers.js"></script>
  <link rel="stylesheet" 		href="../css/personal.css">  
  <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 
  <link rel="stylesheet" href= "https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> 
  <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
  <script src= "https://code.jquery.com/jquery-3.3.1.min.js"> </script> 
  <script src= "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> </script> 
  <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> </script> 
  <script src= "https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"> </script> 
</head> 


<body id="top" style="background-color: white;"></body>


<!-- TABLA DE LISTA DE PRECIOS
================================================== -->


<section class="container-fluid" id="portfolio" style="height:500px">

  <div class="intro-wrap col-sm-12" style="height:200px;display:flex;align-items:space-around">
    <div class="row  section-intro  animate-this" style="justify-content: center;;">
      <div class="col-sm-6" style="display:flex; align-items: left">
        <h1>Fram</h1>  			
        <p class="lead">Ultima actulizacion: Sep 2020</p>	 
      </div>  	
        <div class="col-sm-6"> 
          <button id="exportButton" class="btn btn-lg btn-danger clearfix" style="background-color:orange"><span class="fa fa-file-excel-o"></span> Exportar a Excel</button>
        </div>
      </div>   		
      
    </div> <!-- end row section-intro -->  
    <div class="container">  
     
      <input type="text" style="margin-top:5%;"id="myInputCodigo" onkeyup="myFunction()" placeholder="Buscar por codigo..." title="Type in a name">
  
      <table class="table-striped border-success table-sm" style="background-color:rgb(255, 255, 255);table-layout: initial;" id="myTable"> 
        <thead class="thead-dark"> 
          <tr> 
            <th data-field="cod_articulo">  Articulo</span style="text-align: center;"></th> 
            <th data-field="descrip_arti">  Descripcion</span> </th> 
            <th data-field="precio_vta" class="precio">    Precio sin IVA </span> </th>
            <th data-field="precio_vta_final"class="precio">   Precio con IVA </span> </th>  
          </tr> 
        </thead> 
      </table> 
  </div> 
  </div> <!-- end intro-wrap -->
  

</section>

<script src="../js/listaEspecificaService.js"></script>

</body> 
</html>