<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
		<title>Peli vs Peli</title>
		<script src="../js/src/jquery.js"></script>
		<script src="../js/src/helpers.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
    	<link rel="stylesheet" type="text/css" href="../css/main.css">
   
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="../css/personal.css">
	</head>

<!--salto de linea en negro al ppio de la hoja-->


<body id="top">
<!--Div where the WhatsApp will be rendered-->
<div id="WAButton" style="font-family: Arial, Helvetica, sans-serif; z-index:10;"></div>


<!-- SIDE MENU
================================================== -->
<header>
	<a id="header-menu-trigger" href="#0">
		  <span class="header-menu-text">Menu</span>
		   <span class="header-menu-icon"></span>
	</a> 
	<nav id="menu-nav-wrap">
		<a href="#0" class="close-button" title="close"><span>Close</span></a>	
		<h3>Renova</h3>  
		 <ul class="nav-list">
			 <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
			 <li><a class="" href="#about" title="">About</a></li>
			 <li><a class="" href="#services" title="">Services</a></li>
			 <li><a class="" href="#portfolio" title="">Works</a></li>
			 <li><a class="" href="listas.html" title="" style="color:orange">Ingresar a mi cuenta</a></li>						
		 </ul>	
	 </nav>  <!-- end #menu-nav-wrap -->
</header> <!-- end header -->  


<!-- SECCION DE LISTAS
================================================== -->
<section class="container-fluid" id="portfolio">

	<iframe width="402" height="346" frameborder="0" scrolling="no" src="https://onedrive.live.com/embed?resid=2D656514BD3B8EE5%21121&authkey=%21AIAXUIZ20bliJQs&em=2&wdAllowInteractivity=False&wdHideGridlines=True&wdHideHeaders=True&wdDownloadButton=True&wdInConfigurator=True"></iframe>


</section> 


</body>

</html>