<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
		<title>Lista de precios</title>
		<link rel="stylesheet" 		href="./views/css/base.css">
		<link rel="stylesheet" 		href="./views/css/vendor.css">
		<link rel="stylesheet" 		href="./views/css/main.css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<script src="../js/src/jquery.js"></script>
		<script src="../js/src/helpers.js"></script>
		<script src="../js/src/modernizr.js"></script>
        <script src="..js/src/pace.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-179250562-2"></script>
    </head>
    <body>
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">MOTUL: </h3>
            <h3 id="12" style="display:block;"></h3>
        </div>  
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">VALVOLINE: </h3>
            <h3 id="3" style="display:block;"></h3>
        </div> 
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">TOTAL: </h3>
            <h3 id="5" style="display:block;"></h3>
        </div> 
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">SELENIA: </h3>
            <h3 id="316" style="display:block;"></h3>
        </div> 
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">FRAM: </h3>
            <h3 id="1" style="display:block;"></h3>
        </div> 
        <div style="width:30%;display:flex;justify-content:space-between">
            <h3 style="display:block;">KITS: </h3>
            <h3 id="16" style="display:block;"></h3>
        </div> 

        <div id="chart"></div>

        <script src="../js/src/helpers.js"></script>
        <script src="../js/src/plugins.js"></script>
        <script src="../js/src/main.js"></script>
        <script src="../js/reporte.js"></script>
    
        
    
    
    </body>
</html>