<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="format-detection" content="telephone=no">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" >
		<title>Peli vs Peli</title>
		<script src="../js/src/jquery.js"></script>
		<script src="../js/src/helpers.js"></script>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/personal.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

	</head>

<!--salto de linea en negro al ppio de la hoja-->
<div style="color:black; display:inline-block"></div>

<body class="home" style=" background-image: url(../images/fondoNaranja.jpg);background-repeat: no-repeat;background-size: 100% 100%;">
<!--Div where the WhatsApp will be rendered-->
<div id="WAButton" style="font-family: Arial, Helvetica, sans-serif; z-index:10;"></div>


<!-- SIDE MENU
================================================== -->
<header>


	<a id="header-menu-trigger" href="#0">
		  <span class="header-menu-text">Menu</span>
		   <span class="header-menu-icon"></span>
	</a> 
	<nav id="menu-nav-wrap">
		<a href="#0" class="close-button" title="close"><span>Close</span></a>	
		<h3>Renova</h3>  
		 <ul class="nav-list">
			 <li class="current"><a class="smoothscroll" href="#home" title="">Home</a></li>
			 <li><a class="" href="#about" title="">About</a></li>
			 <li><a class="" href="#services" title="">Services</a></li>
			 <li><a class="" href="#portfolio" title="">Works</a></li>
			 <li><a class="" href="listas.html" title="" style="color:orange">Ingresar a mi cuenta</a></li>						
		 </ul>	
	 </nav>  <!-- end #menu-nav-wrap -->

</header> <!-- end header -->  


<!-- SECCION DE LISTAS
================================================== -->
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Cards</title>
  </head>
  <body>
	<h1>Cards</h1>  
	<div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>  
</div>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

</body>
<script src="../js/competencia.js"></script>
<script src="../js/ofertasService.js"></script>
</html>